<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910718426089-7v570hktpsok9vsgbdm5mkq91jhfptcq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910718426089-7v570hktpsok9vsgbdm5mkq91jhfptcq</string>
	<key>API_KEY</key>
	<string>AIzaSyASoOGwtfcw1YPNF9oBQSY2iuO1Q4fwvYs</string>
	<key>GCM_SENDER_ID</key>
	<string>910718426089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heedy.youcandoit</string>
	<key>PROJECT_ID</key>
	<string>youcandoit-4cce2</string>
	<key>STORAGE_BUCKET</key>
	<string>youcandoit-4cce2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910718426089:ios:a92db3aaf211f97aa20978</string>
	<key>DATABASE_URL</key>
	<string>https://youcandoit-4cce2.firebaseio.com</string>
</dict>
</plist>